@import "styles.css";

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotate3d {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(180deg);
    }
}

.container-3d {
    perspective: 500px;
}

.flippable {
    transform-origin: center;
    transform-style: preserve-3d;
}

.flippable:hover {
    animation-name: rotate3d;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
}